@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  scroll-snap-type: y mandatory;
  background: black;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.buffer {
  height: 8px;
}

.container {

}

.slide {
  box-sizing: border-box;
  height: 99vh;
  padding: 8px;
  scroll-snap-align: center;
}

.product-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
